*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;    
}

:root{
    --main-bg-color:rgb(249, 242, 242);
    --navbar-bg: rgba(0, 0, 0, 0.877);
    --text:rgb(70, 69, 69);
    --card--text-bottom: rgb(225, 222, 222);
    --icon--inside-button: rgb(3, 44, 205);
    --buttom--pricipal: rgb(70, 133, 241);
    --clear--green: rgba(0, 183, 255, 0.707) ;
    --green: rgb(0, 183, 255);
    --button--secondary: rgb(85, 85, 85);
    --text--dark:rgb(39, 39, 39);
    --z-navbar: 5000;
    --z-icon-menu: 4000  
}

/*reseteo de variables de colores para el darktheme*/

body.darkTheme{   
    --main-bg-color: rgb(5, 1, 16);
    --text--darkTheme:rgb(165, 161, 161);   
}

/*BODY*/

.container_principal{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0  13rem;
}


body{
    background-color:  var(--main-bg-color);
    color: var(--text);
}





img{
    display: block;
    max-width: 100%;
}

/*NAV BAR*/

.nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    background-color:var(--navbar-bg);
    color: aliceblue;
    height: 3rem;
    right: 0;
    left: 0;   
    position: fixed;
    top: 0;  
    z-index:var(--z-navbar);  
}

.name{
    margin-left: 1rem;
    font-size: 1rem;
    font-weight: 300;    
}

.nav-menu{
    display: flex;
    gap: 2rem;
    font-size: 0.8rem;
    list-style: none;
    align-items: center;  
    padding-right: 1.5vw;      
}

.iconShowMenu {
    position: fixed;
    top: 0.5rem;   
    height: 2rem;   
    right:2vw;
    font-size: 2rem;
    cursor: pointer;
    z-index: var(--z-icon-menu);
    visibility: hidden;   
}

a{
    text-decoration: none;
    color: aliceblue;      
}

.link{    
    border-radius: 3px;
    padding: 0.1rem;  
    border-radius: 3px;
}

.link--active{
    background-color: var(--buttom--pricipal);
    padding: 0.2rem 0.7rem;
    border-radius: 5px;
}

.link>a:hover{
    color: rgb(180, 230, 253);  
}

.nav-item:hover{    
    text-shadow: 0px 6px 5px white;    
}

.nav-item {
    transition: text-shadow 0.2s;
}

.btn-nav{
    border: dashed ;    
    padding: 0.2rem 0.7rem;
    border-radius: 5px;    
}

/**/

.button_hv{
    height: 2rem;
}

.btn_rsm {
  padding: 5px;    
  border-radius: 5px;
  background-color: var(--clear--green);
  font-size: 0.8rem;  
  bottom: -2px;
  transition: 0.3s;
  }

.btn_rsm:hover {
    padding: 6px;
    box-shadow: rgba(128, 128, 128, 0.59) 1px 1px 3px;
    background-color: var(--green);
  }

.btn_linkedin{
    padding: 4px;
    border-radius: 5px;
    background-color: var(--buttom--pricipal);
    font-size: 0.9rem;
    transition: 0.3s;
}


.btn_linkedin:hover {
    padding: 5px;
    box-shadow: rgba(128, 128, 128, 0.59) 1px 1px 3px;
  }



.btn_rsm i{
    margin-left: 0.2rem;
    font-size: 0.9rem;
    position: relative;
    bottom: -2px;
    color: var(--main-bg-color);    
}

/*HEADER - PROFILE */

header{    
    margin-top: 1rem;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.profile{    
    display: flex;
    flex-direction: row;   
    align-items: center;
    gap: 1rem;
   
    height: 40vh;    
}

.profile_description {
    display: flex;
    width: auto;
    flex-direction: column;
    gap: 1rem;
}

@media (max-width: 800px) {  
    .nav-menu{
        background-color: var(--clear--green);
        box-shadow: -3px 5px 8px rgba(128, 128, 128, 0.785);
        position: fixed;
        top: 3rem;
        right: 0;
        height: 100vh;
        width: 30vw;
        flex-direction: column;
        justify-content: center;
        transform: translateX(100%);
        transition: transform 0.5s;
    }
    .nav-menu-show{
        transform: translateX(0%);
    }
  .iconShowMenu {
   visibility: visible;
  }  
  .profile{
    flex-direction: column;    
  }
  .profile_description{
    align-items: center;
 }
}

.container-img{   
    overflow: hidden;
    border-radius: 10%;
    width: 110px;
    background: var(--main-bg-color);
    background: linear-gradient(140deg, rgb(248, 252, 255) 50%, rgb(149, 151, 151) 100%);    
/*asegurar la proporcion de la imagen*/
   object-fit: cover;  
}

.profile-img{
    width: 100%;      
}

.profile-name{
    font-size: 1.7rem;
    font-weight: 700; 
}

.description{    
    width: 25rem;
    line-height: 1.5rem;
    font-size: 0.8rem;
    color: var(--text);    
    
}
.description span{
    color: var(--buttom--pricipal);
    font-size: 0.8rem;
    font-weight: 700;
}

/*TECNOLOGIES*/

.tecnologies{
 display: flex;
 justify-content: center;
 align-items: center;
 height: 6rem;
 width: 11rem;
 gap: 3rem;
}

.tecnologies > img {
    object-fit: cover;
    height: 2rem; 
    transition: 0.5s;
}

.tecnologies > img:hover {
     height: 2.8rem;       
}

.tecnologies > img:hover:nth-child(2) {
    height: 2.8rem;   
    animation-name: spin;
    animation-duration: 3500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;    
}

/*TITLES*/

.title{
    padding-top: 3rem;   
    padding-bottom: 1rem;
    color: rgb(102, 102, 102);
    font-size: 1.7rem;
    font-weight: 700; 
}

/*ICON*/

.icon{
    margin-left: 1rem;
    position: relative;
    bottom: -3px;    
}

/*EXPERIENCE*/

.experience {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;    
    align-items: center;  
    height: 90vh;
    padding: 0 0.5rem;
}

.container_experience{
    display: flex;   
    flex-direction: column;
    align-items: flex-start;
}

.description-experience{
    margin-top: 2rem;  
}

.subtitle-experience{
    font-size: 1.3rem;   
}

.list-experience{   
    padding-top: 1rem;
    padding-left: 1rem;
    display: flex;
    flex-direction: column;   
       
    padding-bottom: 1rem;
    color: rgb(102, 102, 102);
    font-size: 1.1rem;
    font-weight: 300;  
    line-height: 2rem;  
}

.list-experience > li {
    color: var(--text);
    font-weight: 400;
}

.list-experience > dd {
    padding-left: 1rem;
    font-size: 0.9rem;
    line-height: 1rem;
    margin-bottom: 1.5rem;
}

/*PROYECTS*/

.proyects{
    display: flex;
    flex-direction: column;    
    align-items: center;
    padding-top: 3rem;   
} 

/*CARD*/

.card{    
    overflow: hidden;
    margin: 2rem;
    position:relative;   
    display: flex;
    right: 0;
    width:320px;
    height: 220px;
    flex-direction: column;
    border-radius: 10px;     
    background-color:var(--main-bg-color);    
}

.superior-card{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;        
    width:320px;
    height: 220px;
    border-radius: 10px;
    z-index: 10;
    background-color: rgba(10, 30, 156, 0.123);
    backdrop-filter: blur(5px);   
    color: white;  
    justify-content:space-around;
    padding: 1rem;
    right: -100%;
    transition: all 0.2s cubic-bezier(0.4, 0, 1, 1) 0.03s;
}

.superior-card button{
    background-color: rgb(127, 136, 185) ;
    color: rgb(205, 218, 240);
    width: 5rem;
    height: 1.8rem;
    border: none;
    border-radius: 3px;
    text-transform: capitalize;  
    outline: none; 
    cursor: pointer;    
}

.card:hover .superior-card {
    right: 0;
}

.img-proy{

    height: 10rem;
    width: 20rem;
    object-fit: cover;    
}

.title-proy{
    font-weight: 700;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.desc-proy{
    width: 12rem;
    padding: 0.2rem 1rem;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.superior-card dt{
    text-transform: capitalize;
    font-size: 1.5rem;
    font-weight: 100;
}

.hidden{
    opacity: 0;
    transform: translateX(-200px) ;
    transition: opacity 1.5s,  transform 0.4s ease-out;
}

.show {
    opacity: 1;
    transform: translateX(0);
}

/*FORM*/
.form{
    display: flex;
    flex-direction: column;
   max-width: 80%;
   align-items: center;
   margin: auto;
   padding: 6rem 3rem;
   height: 90vh;
    }

.form_container {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;     
}

.form_container * {
    padding: 0.6rem;
    outline: none;
    border-color: var(--card--text-bottom);
    border-radius: 0.5rem;   
    border: 2px solid var(--card--text-bottom);
    transition: border 0.7s;
}

.form input:focus,
.form textarea:focus
{
    border: 2px solid var(--green)
}


/*Se aplican los estilos cuando haya minimo 800px*/











